<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h1>
    <%= gravatar_for @student %>
    <%= @student.name %>
    </h1>
    </section>
  </aside>
</div>